@use "../../../assets/scss/_colors.scss" as color;

.book-item {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    .cover-image {
        img {
            height: 12rem;
        }
    }
    .author-name {
        color: color.$white;
    }
    .title {
        color: color.$primary;
        font-weight: bold;
    }
}
