@use "../../assets/scss/_colors.scss" as color;

.book-cover {
	height: 100vh;
	background-color: color.$secondary;
	.book-cover-content {
		height: 100%;
		width: 41vw;
		.image-and-details {
			display: flex;
			width: 83%;
			gap: 2rem;
			height: 52%;
			align-items: flex-end;
			margin: auto;
			.cover-image {
				width: fit-content;
				img {
					height: 40vh;
				}
			}
			.details {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				height: 40vh;
				gap: 1rem;
				.detail-section {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					font-size: 0.7rem;
					.heading {
						color: color.$offwhite;
					}
					.list {
						display: flex;
						flex-direction: column;
						gap: 0.4rem;
					}
				}
			}
		}
		.name-and-description {
			display: flex;
			flex-direction: column;
			justify-content: center;
			overflow: hidden;
			width: 83%;
			margin: auto;
			height: 48%;
			.author-name {
				font-size: 1.1rem;
				margin-bottom: 0.5rem;
			}
			.book-name {
				font-size: 3rem;
				font-weight: bold;
				margin-bottom: 0.8rem;
			}
			.description-list {
				font-size: 0.7rem;
				display: flex;
				gap: 5%;
				.description-column {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;
					width: 47.5%;
					.description-item {
						width: 100%;
					}
				}
			}
		}
	}
}

.book-cover.animated {
	width: 0;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: 1010;
}

.book-cover:not(.animated) {
	width: 41vw;
}

@keyframes appearFromLeftBookCoverSkeleton {
	0% {
		width: 0;
	}
	100% {
		width: 41vw;
	}
}

@keyframes disappearToLeftBookCoverSkeleton {
	0% {
		width: 41vw;
	}
	100% {
		width: 0;
	}
}

.exit {
	.book-cover.animated {
		animation: appearFromLeftBookCoverSkeleton 1.2s
			cubic-bezier(0.18, 1, 0.22, 1) forwards;
	}
}

.enter {
	.book-cover.animated {
		animation: disappearToLeftBookCoverSkeleton 1s
			cubic-bezier(0.18, 1, 0.22, 1) forwards;
	}
}
