@use "../../assets/scss/_mixins.scss" as mixin;

.home {
	width: 100vw;
	min-height: 100vh;
	height: 100vh;
	timeline-scope: mixin.$home-page-header-var;
	overflow: hidden;
}

@media only screen and (max-width: 450px) {
	.home {
		display: flex;
		flex-direction: column;
	}
}
