@use "../../assets/scss/_colors.scss" as color;

.similar-books {
    float: right;
    width: 18%;
    height: 100dvh;
    background-color: color.$primary;
    .similar-books-content {
        width: 100%;
        height: 100%;
        padding: 3rem 2rem;
        transform: translateX(100%);
    }
}

.skeleton {
    position: absolute;
    right: 0;
    top: 0;
}

@keyframes appearFromRightSimilar {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes disappearToRightSimilar {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.enter {
    .similar-books {
        .similar-books-content {
            animation: appearFromRightSimilar 0.8s
                cubic-bezier(0.18, 1, 0.22, 1) forwards;
        }
    }
}

.exit {
    .similar-books {
        .similar-books-content {
            animation: disappearToRightSimilar 0.8s
                cubic-bezier(0.18, 1, 0.22, 1) forwards;
        }
    }
}
