@use "../../assets/scss/_colors.scss" as color;
@use "../../assets/scss/_media.scss" as media;

$side-section-width: 41vw;

.side-section {
    position: absolute;
    right: 0;
    top: 0;
    width: $side-section-width;
    height: 100vh;
    background-color: color.$secondary;
    z-index: 1;

    @include media.phone-css {
        display: none;
    }
}

@keyframes vanishRightMostRecent {
    0% {
        width: 41%;
    }
    100% {
        width: 0;
    }
}

@keyframes appearFromRightMostRecent {
    0% {
        width: 0;
    }
    100% {
        width: 41%;
    }
}

.exit {
    .side-section {
        animation: vanishRightMostRecent 1s cubic-bezier(0.18, 1, 0.22, 1)
            forwards;
    }
}

.enter {
    .side-section {
        animation: appearFromRightMostRecent 0.8s
            cubic-bezier(0.17, 0.67, 0.6, 0.87) forwards;
    }
}
