@use "../../assets/scss/_colors.scss" as color;
@use "../../assets/scss/_mixins.scss" as mixin;
@use "../../assets/scss/_media.scss" as media;
@use "../../assets/scss/_scssConstant" as constant;

.book-list {
    .book-list-content {
        .books {
            margin: 2em 5em;
            display: flex;
            flex-wrap: wrap;
            gap: 8%;
            row-gap: 2em;
        }
        // Genre Content
        .genre-books {
            margin-left: 4em;
        }
    }
}

@include media.phone-css {
    .book-list {
        .book-list-content {
            .books {
                margin: 1.5em 1em;
                justify-content: space-around;
            }
        }
    }
}
