@use "../../assets/scss/_colors.scss" as color;
@use "../../assets/scss/_mixins.scss" as mixin;
@use "../../assets/scss/_media.scss" as media;

.book-list {
    .book-list-content {
        width: 59%;
        height: 40vh;
        overflow-y: auto;
        transform: translateY(300%);
        transition: transform 0.5s ease-in-out;
        scroll-timeline-name: mixin.$home-page-header-var;
        &::-webkit-scrollbar {
            width: 0;
        }
        .books {
            margin: 2em 5em;
            display: flex;
            flex-wrap: wrap;
            gap: 8%;
            row-gap: 2em;
        }
    }
}

@keyframes content-up {
    from {
        transform: translateY(300%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes content-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(300%);
    }
}

@keyframes book-list-expand {
    from {
        height: 40dvh;
    }
    to {
        height: calc(100dvh - 68px);
    }
}

@include media.phone-css {
    .book-list {
        .book-list-content {
            height: 75vh;
            width: 100%;
            .books {
                margin: 1.5em 1em;
                justify-content: space-around;
            }
        }
    }
    @keyframes book-list-expand {
        from {
            height: 75dvh;
        }
        to {
            height: calc(100dvh - 68px);
        }
    }
}

@supports (animation-timeline: scroll()) {
    .idle {
        .book-list {
            .book-list-content {
                @include mixin.home-page-header-shrink-timeline(
                    book-list-expand
                );
            }
        }
    }
}

.enter {
    .book-list {
        .book-list-content {
            overflow-y: hidden;
            animation: content-up 5s cubic-bezier(0.18, 1, 0.22, 1) forwards;
            animation-delay: 1s;
        }
    }
}

.idle {
    .book-list {
        .book-list-content {
            transform: unset;
        }
    }
}

.exit {
    .book-list {
        .book-list-content {
            overflow-y: hidden;
            animation: content-down 1s cubic-bezier(0.18, 1, 0.22, 1) forwards;
        }
    }
}
