@use "../../assets/scss/_colors.scss" as color;

.main-header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    width: 59%;
    .logo {
        width: 2rem;
        height: 2rem;
        border-radius: 15px;
        padding: 0.3rem;
        position: relative;
        z-index: 101010;
        background-color: color.$background;
    }
    .options {
        .option {
            z-index: 1;
        }
    }
}
